.product-item {
  border: 1px solid;
  max-width: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}

.product-item img {
  max-width: 160px;
  max-height: 160px;
}

.product-item p {
  color: #fc9905;
  font-weight: 500;
}
